th, td {
    width: auto;
}

th {
    height: 7px;
    text-align: left;
    background-color: grey;
    border-bottom: none;
}


td {
    height: 20px;
    border-top: none;
}

.gray {
    background-color: silver;
}

caption {
    text-align: left;
    font-size: 25px;
}

table {
    border:solid black;
    border-collapse: collapse;
    font-family: sans-serif;
}

tr {
    border-bottom: none;
}
